<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>流浪猫管理系统</title>
        <link rel="stylesheet" type="text/css" href="./static/test.css">
    </head>
    <body>

        <div id="container" style="width:vw">

            <div id="header" align="center">
                <h1 style="margin-bottom:0;">校园流浪猫管理系统</h1>
            </div>

            <br>

            <div id="content" align="center" ;>
                <form action="/login" method="get">
                    <input type="submit" value="login">
                </form>
                <br>
                <form action="/register" method="get">
                    <input type="submit" value="register">
                </form>
            </div>
        </div>
    </body>
</html>
